<html>
    <style>
        input { padding: 5pt;}
        input { margin: 10pt;}

    </style>
    <body>
        <form method="post">
            <input type="text" name="product_category" placeholder="Введите категорию товара"><br>
            <input type="text" name="product_name" placeholder="Введите название товара"><br>
            <input type="text" name="product_price" placeholder="Введите цену товара"><br>
            <input type="text" name="amount" placeholder="Введите количество товара"><br>
            <input type="submit"><br>
        </form>
    </body>
</html>